.grid {

  .wrapper {
    height: 100%;
    margin-bottom: 0;
  }

  &__col {
    display: block;
    margin-bottom: 15px;
  }

  &__col-2 {
    display: block;
    margin-bottom: 15px;
  }

  &__col-3 {
    display: block;
    margin-bottom: 15px;
  }

  &__half {
    display: block;
    margin-bottom: 15px;
  }

    .search-path {
      margin-bottom: 0;
    }
}
@media (min-width: $phone-landscape) {
  .grid {

  }
}
@media (min-width: $tablet-portrait) {
  .grid {

  }
}
@media (min-width: $tablet-landscape) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__col {
      width: calc((100% - 4*24px)/5);
      margin-bottom: 24px;
    }

    &__col-2 {
      width: calc(2*(100% - 4*24px)/5 + 24px);
      margin-bottom: 24px;
    }

    &__col-3 {
      width: calc(3*(100% - 4*24px)/5 + 2*24px);
      margin-bottom: 24px;
    }

    &__col-4 {
      width: calc(4*(100% - 4*24px)/5 + 3*24px);
      margin-bottom: 24px;
    }

    &__half {
      width: calc(50% - 12px);
      margin-bottom: 24px;
    }
  }
}
@media (min-width: $desktop) {
  .grid {

  }
}

